# Dependencies
node_modules/
package-lock.json

# Environment
.env
env.development
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.sublime-*

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/*
!uploads/.gitkeep

# Vercel
